<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityManager" version="1.0.0-beta5-4" targetFramework="net451" />
  <package id="IdentityManager.AspNetIdentity" version="1.0.0-beta5" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>